@model IEnumerable<TumorTaskforce_Webapp_1.PossibleHealthFactor>

@{
    ViewBag.Title = "All Health Factors";
}

<h2>All Health Factors</h2>

<p>
    @Html.ActionLink("Create New Health Factor", "Create") - 
    Or create it from the @Html.ActionLink("Create Patient", "Create", "Patients") page!
</p>
<table class="table">
    <tr>
        <th>
            Health Factor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
