@model TumorTaskforce_Webapp_1.OtherMedsPivot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OtherMedsPivot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PossibleOtherMed.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PossibleOtherMed.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
