@using Microsoft.AspNet.Identity;
@*@using Microsoft.AspNet.Identity.EntityFramework;*@
@using TumorTaskforce_Webapp_1.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tumor Taskforce</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm nav-link bg-faded">

            <div class="navbar-header pull-left" style="width:35%" id="LOGO-DESKTOP">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/dark_logo_transparent.png" alt="Site Logo" style="height:auto; width: 100%" />
                </a>
            </div>
            <div class="navbar-header pull-left" style="width:80%" id="LOGO-MOBILE">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/dark_logo_transparent.png" alt="Site Logo" style="height:auto; width: 90%" />
                </a>
            </div>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">

                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = User.Identity;
                        ApplicationDbContext context = new ApplicationDbContext();
                        var UserManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
                        var s = UserManager.GetRoles(user.GetUserId());
                        if (s[0].ToString() == "Admin")
                        {
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Patients", "Index", "Patients")
                            </li>
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Compare", "Create", "Patients", new { isCompare = true }, null)
                            </li>
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Manage", "Manage", "Home")
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                                @Html.ActionLink("Compare", "Create", "Patients", new { isCompare = true }, null)
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item" style="margin-left:10px;margin-right:10px;">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tumor Taskforce</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    body {
        background: #89cdce;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($(window).width() < 575) {
            $("#LOGO-DESKTOP").hide();
        }
        else {
            $("#LOGO-MOBILE").hide();
        }
    });
</script>