@model IEnumerable<TumorTaskforce_Webapp_1.Patient>


@{
    ViewBag.Title = "Patients";
}

<div class="jumbotron">
    <h1>All Patients</h1>
    <p class="lead"></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.displayMenu == "Yes")
    {

        <h2>Patient Directory</h2>

        @Html.ActionLink("Create New Patient", "Create", new { isCompare = false })<hr />
        using (Html.BeginForm("Index", "Patients", FormMethod.Get,
                    new { @class = "Search-form" }))
            {
            <h4>
               Search for patient(s)
            </h4>
            <div class="row">
                <div class="col-md-2">
                    <p>
                        ID: @Html.TextBox("q")
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        Sex: @Html.TextBox("sex")
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        Classification: @Html.TextBox("clss")
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        Location: @Html.TextBox("tumLoc")
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        Grade: @Html.TextBox("grade")
                    </p>
                </div>
                <div class="col-md-1">
                    <br />
                    <div id="buttonSearch">
                        <input type="submit" value="Search" id="buttonSubmit" />
                    </div>
                </div>
            </div>

                

        }
        <br />

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>
                        Patient
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Married)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        Classification
                    </th>
                    <th>
                        Grade (WHO)
                    </th>
                    <th>
                        Tumor Size
                    </th>
                    <th>
                        Location
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.patientID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Married)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HistologicalClassification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HistologicalGrade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TumorWidth)
                            x
                            @Html.DisplayFor(modelItem => item.TumorHeight)
                            x
                            @Html.DisplayFor(modelItem => item.TumorLength)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TumorLocation)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.patientID }) |*@
                            @Html.ActionLink("View Patient", "Details", new { id = item.patientID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.patientID })

                        </td>
                    </tr>
                }

            </table>
        </div>

    }
    else
    {
        <h2>  Unauthorized. </h2>
        <h3>
            You need to be an administrator to access this page.
        </h3>
    }
}
else
{
    <h2>  Unauthorized. </h2>
    <h3>
        Please log in or register to access this page.
    </h3>
}

