@model TumorTaskforce_Webapp_1.Patient
@using Microsoft.AspNet.Identity


@*changes the background color of our home page to teal*@
<style>
	body {
		background: #89cdce;
		margin: auto;
		width: 960px;
	}
</style>



@{
	ViewBag.Title = "Results";
	int sIndex = Model.comparisonResults.IndexOf('|');
	char[] count = new char[sIndex];
	Model.comparisonResults.CopyTo(0, count, 0, sIndex);
	string str = new string(count);
	int arraySize = int.Parse(str);
	int[] dataArray = new int[arraySize * 2];
	dataArray = ViewBag.SimData as int[];
}

<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>



<script type="text/javascript">
	AmCharts.makeChart("chartdiv",
		{
			"type": "serial",
			"categoryField": "category",
			"startDuration": 1,
			"categoryAxis": {
				"gridPosition": "start",
				"title": "Patient ID"
			},
			"trendLines": [],
			"graphs": [
				{
					"balloonText": "[[title]] of [[category]]:[[value]]",
					"bullet": "round",
					"id": "AmGraph-1",
					"title": "Charted Similarities",
					"valueField": "column-1"
				}
			],
			"guides": [],
			"valueAxes": [
				{
					"id": "ValueAxis-1",
					"maximum": 100,
					"minimum": 0,
					"strictMinMax": true,
					"synchronizationMultiplier": 0,
					"gridAlpha": 0.1,
					"minVerticalGap": 39,
					"title": "% Similar"
				}
			],
			"allLabels": [],
			"balloon": {},
			"legend": {
				"enabled": true,
				"useGraphSettings": true
			},
			"titles": [
				{
					"id": "Title-1",
					"size": 15,
					"text": "Patient's Comparison Results"
				}
			],
            "dataProvider": [
				{
                    "category": "Patient " + @ViewBag.SimData[0],
                    "column-1": @ViewBag.SimData[1]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[2],
                    "column-1": @ViewBag.SimData[3]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[4],
                    "column-1": @ViewBag.SimData[5]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[6],
                    "column-1": @ViewBag.SimData[7]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[8],
                    "column-1": @ViewBag.SimData[9]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[10],
                    "column-1": @ViewBag.SimData[11]
				},
				{
                    "category": "Patient " + @ViewBag.SimData[12],
                    "column-1": @ViewBag.SimData[13]
				},
                {
                    "category": "Patient " + @ViewBag.SimData[14],
                    "column-1": @ViewBag.SimData[15] //Just first 7 patients for now but is dynamic
                },
                {
                    "category": "Patient " + @ViewBag.SimData[16],
                    "column-1": @ViewBag.SimData[17] //Just first 7 patients for now but is dynamic
                }
			]
		}
	);
</script>

<div class="jumbotron">
	<h1>Results</h1>
	<p class="lead"></p>
</div>

@if (User.Identity.IsAuthenticated && (ViewBag.displayMenu == "Yes" || Model.userName == User.Identity.GetUserName()))
{
	<div>
		<h2>Patient Comparison Results</h2>
		<hr />
		<h4>
			Results:
		</h4>
		We recommend the following treatments:
		@Html.DisplayFor(i => i.comparisonResults)
		@*Chart Printed Out on Results Page Showing the Current Patient's Level of Similarity to Other Patients in the Database*@
		<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>


		@*go through each variable and if index in the array of that variable is similar, highlight variable when printed out*@
		@*highlight variables that are similar, otherwie print out not highlighted
			if(record[1]==1)
			{
				<p style="background-color: #FFFF00"> model.Sex </p>
			}
			else
			{
				@html.DisplayNameFor(model => model.Sex)
			}	*@



		@*Data is based on a statistical correlation with: Patient @target.patientID | @targetSimilarity | @targetEffect*@
		<hr />
		<div class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt>
						Patient  Info
					</dt>
					<dd>
						------------------------------
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Sex)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Sex)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Married)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Married)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Age)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Age)
					</dd>

					<dt>
						Classification
					</dt>

					<dd>
						@Html.DisplayFor(model => model.HistologicalClassification)
					</dd>

					<dt>
						Grade (WHO)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.HistologicalGrade)
					</dd>

					<dt>
						Tumor Size (WxHxL)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.TumorWidth)
						x
						@Html.DisplayFor(model => model.TumorHeight)
						x
						@Html.DisplayFor(model => model.TumorLength)
					</dd>

					@*<dt>
							@Html.DisplayNameFor(model => model.TumorHeight)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TumorHeight)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.TumorLength)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TumorLength)
						</dd>*@

					<dt>
						Location
					</dt>

					<dd>
						@Html.DisplayFor(model => model.TumorLocation)
					</dd>
				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt>
						Review of Systems
					</dt>
					<dd>
						------------------------------
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.Constitutional)
					</dt>

					<dd>

						@Html.DisplayFor(model => model.Constitutional)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Respiratory)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Respiratory)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Cardiovascular)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Cardiovascular)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Gastrointestinal)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Gastrointestinal)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Musculoskeletal)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Musculoskeletal)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Integumentary)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Integumentary)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Neurologic)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Neurologic)
					</dd>

					<dt>
						Exercise
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Exercize)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Diet)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Diet)
					</dd>
				</dl>
			</div>
		</div>
		<dl class="dl-horizontal">
			<dt>
				Symptoms
			</dt>

			<dd>
				<br />
				@foreach (SymptomsPivot sp in Model.SymptomsPivots)
				{
					@Html.DisplayFor(spitem => sp.PossibleSymptom.Name)

					if (sp.date != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.date)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.date)
					}
					if (sp.frequency != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.frequency)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.frequency)
					}
					if (sp.notes != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.notes)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.notes)
					}

					<br />
				}
				<br />
			</dd>

			<dt>
				<br />
				Other Medications
			</dt>

			<dd>
				<br />
				@foreach (OtherMedsPivot sp in Model.OtherMedsPivots)
				{
					@Html.DisplayFor(spitem => sp.PossibleOtherMed.Name)

					if (sp.date != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.date)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.date)
					}
					if (sp.frequency != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.frequency)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.frequency)
					}
					if (sp.notes != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.notes)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.notes)
					}
					<br />
				}
				<br />
			</dd>

			<dt>
				<br />
				Health Factors
			</dt>

			<dd>
				<br />
				@foreach (HealthFactorsPivot sp in Model.HealthFactorsPivots)
				{
					@Html.DisplayFor(spitem => sp.PossibleHealthFactor.Name)
					if (sp.date != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.date)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.date)
					}
					if (sp.frequency != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.frequency)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.frequency)
					}
					if (sp.notes != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.notes)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.notes)
					}
					<br />
				}
				<br />
			</dd>

			<dt>
				<br />
				Treatments Given
			</dt>

			<dd>
				<br />
				@foreach (TreatmentsPivot sp in Model.TreatmentsPivots)
				{
					@Html.DisplayFor(spitem => sp.PossibleTreatment.Name)
					if (sp.date != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.date)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.date)
					}
					if (sp.frequency != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.frequency)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.frequency)
					}
					if (sp.notes != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.notes)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.notes)
					}
					if (sp.effectiveness != null)
					{
						<tag> // </tag>
						@Html.DisplayNameFor(spitem => sp.effectiveness)
						<tag>: </tag>
						@Html.DisplayFor(spitem => sp.effectiveness)
					}

					<br />
				}
				<br />
			</dd>

		</dl>
	</div>

}
else
{
	<h2>  Unauthorized. </h2>
	<h3>
		Please log in or register to access this page.
	</h3>
}



