@model TumorTaskforce_Webapp_1.Patient

@{
    ViewBag.Title = "Compare";
}

<h2>Compare (Unfinished Feature)</h2>

<div>
    <h4>Patient @Html.DisplayFor(model => model.patientID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            General Info
        </dt>

        <dd>
            ------------------------------ 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Married)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Married)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Classification
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistologicalClassification)
        </dd>

        <dt>
            Grade (WHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistologicalGrade)
        </dd>

        <dt>
            Tumor Size (WxHxL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TumorWidth)
            x
            @Html.DisplayFor(model => model.TumorHeight)
            x
            @Html.DisplayFor(model => model.TumorLength)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.TumorHeight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TumorHeight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TumorLength)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TumorLength)
            </dd>*@

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TumorLocation)
        </dd>

        <dt>
            <br />Review of Systems<br />
            @Html.DisplayNameFor(model => model.Constitutional)
        </dt>

        <dd>
            <br />------------------------------ <br />
            @Html.DisplayFor(model => model.Constitutional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respiratory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respiratory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cardiovascular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cardiovascular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gastrointestinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gastrointestinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musculoskeletal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musculoskeletal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Integumentary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Integumentary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neurologic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neurologic)
        </dd>

        <dt>
            Exercise
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diet)
        </dd>

        <dt>
            <br />
            Symptoms
        </dt>

        <dd>
            <br />
            @foreach (SymptomsPivot sp in Model.SymptomsPivots)
            {
                @Html.DisplayFor(spitem => sp.PossibleSymptom.Name)

                if (sp.date != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.date)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.date)
                }
                if (sp.frequency != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.frequency)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.frequency)
                }
                if (sp.notes != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.notes)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.notes)
                }
                <br />
            }
            <br />
        </dd>

        <dt>
            <br />
            Other Medications
        </dt>

        <dd>
            <br />
            @foreach (OtherMedsPivot sp in Model.OtherMedsPivots)
            {
                @Html.DisplayFor(spitem => sp.PossibleOtherMed.Name)

                if (sp.date != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.date)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.date)
                }
                if (sp.frequency != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.frequency)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.frequency)
                }
                if (sp.notes != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.notes)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.notes)
                }
                <br />
            }
            <br />
        </dd>

        <dt>
            <br />
            Health Factors
        </dt>

        <dd>
            <br />
            @foreach (HealthFactorsPivot sp in Model.HealthFactorsPivots)
            {
                @Html.DisplayFor(spitem => sp.PossibleHealthFactor.Name)
                if (sp.date != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.date)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.date)
                }
                if (sp.frequency != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.frequency)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.frequency)
                }
                if (sp.notes != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.notes)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.notes)
                }
                <br />
            }
            <br />
        </dd>

        <dt>
            <br />
            Treatments Given
        </dt>

        <dd>
            <br />
            @foreach (TreatmentsPivot sp in Model.TreatmentsPivots)
            {
                @Html.DisplayFor(spitem => sp.PossibleTreatment.Name)
                if (sp.date != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.date)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.date)
                }
                if (sp.frequency != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.frequency)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.frequency)
                }
                if (sp.notes != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.notes)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.notes)
                }
                if (sp.effectiveness != null)
                {
                    <tag> // </tag>
                    @Html.DisplayNameFor(spitem => sp.effectiveness)
                    <tag>: </tag>
                    @Html.DisplayFor(spitem => sp.effectiveness)
                }
                <br />
            }
            <br />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Compare", "Compare")
</p>
