@model TumorTaskforce_Research.applied_treatments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>applied_treatments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.treatment.Treatment_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.treatment.Treatment_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.First_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppliedTreatments_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
