@model IEnumerable<TumorTaskforce_Research.applied_treatments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Effect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.treatment.Treatment_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Effect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.treatment.Treatment_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppliedTreatments_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppliedTreatments_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppliedTreatments_ID })
        </td>
    </tr>
}

</table>
