@model IEnumerable<TumorTaskforce_Webapp_1.PossibleSymptom>

@{
    ViewBag.Title = "All Symptoms";
}

<h2>All Symptoms</h2>

<p>
    @Html.ActionLink("Create New Symptom", "Create") -
    Or create it from the @Html.ActionLink("Create Patient", "Create", "Patients") page!
</p>


<table class="table">
    <tr>
        <th>
            Symptom
        </th>
        <th>
            % of Patients with Symptom
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentShowing)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
